{#

    This file is part of the Recaptcha package.

    (c) Víctor Hugo Valle Castillo <victouk@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

#}

{% block vihuvac_recaptcha_widget %}
    {% spaceless %}
        {% if form.vars.vihuvac_recaptcha_enabled %}
            {% if attr.options is defined %}
                <script type="text/javascript">
                    var onloadCallback = function() {
                        grecaptcha.render(
                            "recaptcha", {
                                "sitekey" : "{{ form.vars.site_key }}",
                                "theme"   : "{{ form.vars.attr.options.theme }}"
                            }
                        );
                    };
                </script>
            {% endif %}
            <script type="text/javascript" src="{{ form.vars.url_api_server }}" async defer></script>
            <div id="recaptcha"></div>
        {% endif %}
    {% endspaceless %}
{% endblock vihuvac_recaptcha_widget %}
